* {
    margin: 0;
    padding: 0;
    color: white;
}
header{
    background-color: #212124;
    padding: 10px;
    display: flex;
    
    justify-content: space-around;
}
.containerMenuButton{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: x-large ;
    text-align: center;
}
h3{
    font-size: small;
}
span{
    font-size: small;
}
img{
    width: 70px;
    height: 70px;
}
.top-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.container-hobbies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
article>div{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.container-form{
    display: flex;
    flex-direction: column;
}
.width-textarea{
    width: 164px;
}

section{
    margin: 10px;
    border: 1px solid white;
    padding: 5%;
    background-color: #343A40;
    width: 80%;
    border-radius: 10px;
}
article{
    margin-top: 10px;
    margin-bottom: 10;
}
article p {
    margin-left: 10px;
}
.top-section + div{
    margin-top: 10px;
}
main{
    background-color: #212124;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div > .saisie{
    color: white;
    background-color: #343A40;
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 10px;
}
button{
    border-radius: 3px;
    border: 1px solid white;
    padding: 10px;
    background-color: rgb(5, 197, 5);
}
nav{
    height: 100vh;
    width: 200px;
    background-color: #212124;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -215px;
    transition: left 1s;
}

.menuButton{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 1px;
    
}
.itemMenu{
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
.shadow{
    box-shadow: 0px -2px 0px 0px black;
    padding: 20px;
}
